/* public/css/layout.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 2rem;
}

.centered {
  text-align: center;
}

.card {
  background: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--card-border);
  box-shadow: var(--card-shadow);
}

#results {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 20px; */
  list-style: none;
  padding: 0;
  margin: 0;
}
