/* Base Styles */
body {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  background-color: var(--background-color);
}

/* Custom Table Enhancements */
#custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px; /* Add space below the table */
}

#custom-table th,
#custom-table td {
  border: 1px solid var(--input-border-color);
  padding: 8px;
}

#custom-table th {
  background-color: var(--primary-color);
  color: white;
  text-align: left;
}

#custom-table td {
  text-align: left;
  color: var(--text-color);
}

#custom-table-section {
  overflow-x: auto; /* Enable horizontal scrolling if the table overflows */
}

.add-row-button {
  padding: 5px 10px;
  background-color: #1081fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-row-button:hover {
  background-color: #0056b3;
}

/* Ensure responsive behavior for small screens */
@media (max-width: 768px) {
  #custom-table th,
  #custom-table td {
    padding: 4px; /* Reduce padding for smaller screens */
  }

  .sticky-save-button {
    padding: 5px 10px; /* Adjust button padding for smaller screens */
  }
}

/* Sticky Save Button */
.sticky-save-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #1081fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sticky-save-button:hover {
  background-color: #0056b3;
}

/* Edit and Remove Buttons */
.edit-button,
.remove-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

.edit-button img,
.remove-button img {
  width: 16px;
  height: 16px;
  transition: filter 0.3s, transform 0.3s;
}

/* Change icon color on hover without adding background */
.edit-button:hover img,
.remove-button:hover img {
  filter: brightness(0.8);
}

.edit-button img:hover {
  transform: rotate(360deg);
}

/* Card Sections */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

/* Ensure note and buttons are aligned on the same line */
#notes-content div,
#supplements-content div,
#tournaments-content div,
#injuries-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* Ensure text wraps properly and doesn't overflow */
.note-text,
.supplement-text,
.tournament-text,
.injury-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  flex-grow: 1;
  margin-right: 10px;
  text-align: justify;
}

/* Add to athlete.css */
.note-date,
.supplement-date,
.history-date,
.tournament-date,
.injury-date {
  display: none;
  margin-left: 10px;
  color: #666;
  font-size: 0.9em;
  transition: opacity 0.3s ease;
}

.note-text:hover .note-date,
.supplement-text:hover .supplement-date,
.history-text:hover .history-date,
.tournament-text:hover .tournament-date,
.injury-text:hover .injury-date {
  display: inline;
  opacity: 1;
}

/* Container for the edit and remove buttons */
.button-container,
.supplement-button-container,
.tournament-button-container,
.injury-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style the save button */
.save-edit-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-edit-button:hover {
  background-color: #0056b3;
}

/* Style for notes, supplements, and tournaments content */
#notes-content,
#supplements-content,
#tournaments-content,
#injuries-content {
  max-height: 300px; /* Set a max height for the section */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}

/* General Information Styles */
#athlete-info {
  margin-top: auto;
}

#athlete-details p {
  margin: 5px 0;
}

#edit-athlete-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#edit-athlete-button:hover {
  background-color: #0056b3;
}

/* Style for history content */
#history-content div {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd; /* Optional: Add border to separate history records */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

/* Ensure history record text wraps properly and doesn't overflow */
.history-text {
  word-wrap: break-word; /* Ensure long words break to the next line */
  white-space: pre-wrap; /* Preserve white space and wrap text */
  flex-grow: 1; /* Allow history record text to take available space */
  margin-right: 10px; /* Add margin to separate text from buttons */
  text-align: justify; /* Justify text */
}

/* Container for the edit and remove buttons */
.history-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Edit and Remove Buttons */
.edit-button,
.remove-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

.edit-button img,
.remove-button img {
  width: 16px; /* Adjust size as needed */
  height: 16px;
  transition: filter 0.3s, transform 0.3s;
}

/* Change icon color on hover without adding background */
.edit-button:hover img,
.remove-button:hover img {
  filter: brightness(0.8); /* Darken the icon on hover */
}

.edit-button img {
  transition: transform 0.3s ease;
}

.edit-button img:hover {
  transform: rotate(360deg); /* Simple animation for icon change */
}

.tooltip {
  position: absolute;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  display: none;
  z-index: 1000;
  font-size: 0.9em;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none; /* Prevent interference with mouse events */
  white-space: nowrap; /* Keep text on a single line */
  max-width: 200px; /* Adjust as needed */
}
